# Ignore node_modules and build output in frontend
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr

# Ignore Python virtual environment and __pycache__ in backend
/backend/venv/
/backend/__pycache__/
**/__pycache__/

# Ignore logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore IDE/editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore environment files
.env
/backend/.env
/frontend/.env